<html>
<head>



	<title>Your Chat</title>
	<meta charset="utf-8">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/bootstrap.min.js>"></script>
	<script src="js/chat.js"></script>
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/messageBoard.css">
</head>
<body>
	<div class="container">


		<!-- header -->
		<div class="skinnyJumbotron">
			<div style="align-items:left">
				<a href="/">
					<button type="button" class="btn btn-default btn-sm">
						Back to Contacts
					</button>
				</a>
				<h3 id="nameHeading">Message History</h3>
			</div>
			<hr>
		</div>
		<hr>
		<!-- chat template -->
		<div class="container" id="messageChain">
			{{#each messages}}
				<div class="text">
					<h3>{{text}}</h3>
					<p>{{ago}}</p>
					<hr>
				</div>
			{{/each}}
		</div>


		<!-- Text message box -->
		<div>
  			<input id="usermsg" type="text" name="userMessage" style="border:solid">
  			<!-- <input type="submit" onclick="addMessage()" value="Send"> -->
			<button id = "userSub" type="button" name="button" class="btn btn-primary">Send</button>
			<hr>
		</div>


		<!-- Suggestions -->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h5 style="float:left;">Conversation Starters</h5>
				</div>
			</div>
			<div class="row">
			  <div class="col-sm-4">
			    <div class="card">
			      <div class="card-body">
			        <h5 class="card-title">Special title treatment</h5>
			        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
			        <a href="#" class="btn btn-primary">Go somewhere</a>
			      </div>
			    </div>
			  </div>
			  <div class="col-sm-4">
			    <div class="card">
			      <div class="card-body">
			        <h5 class="card-title">Special title treatment</h5>
			        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
			        <a href="#" class="btn btn-primary">Go somewhere</a>
			      </div>
			    </div>
			  </div>
			  <div class="col-sm-4">
			    <div class="card">
			      <div class="card-body">
			        <h5 class="card-title">Special title treatment</h5>
			        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
			        <a href="#" class="btn btn-primary">Go somewhere</a>
			      </div>
			    </div>
			  </div>
			</div>
		</div>

</body>

</html>
