<html>
<head>



	<title>Your Chat</title>
	<meta charset="utf-8">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/bootstrap.min.js>"></script>
	<script src="js/chat.js"></script>
	<!--
	<script language="JavaScript">
		function showInput() {
			var message = document.getElementById("user_input").value;
			var messageNode = document.createTextNode(message);
			var paragraph = document.createElement('P'); //creates a <p> element
			paragraph.appendChild(messageNode);
			var container = document.getElementById('display');

			container.appendChild(paragraph);
		}

	</script>
	-->
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/messageBoard.css">
</head>
<body>
	<div class="container">


		<!-- header -->
		<div class="skinnyJumbotron">
			<div style="align-items:left">
				<a href="/">
					<button type="button" class="btn btn-default btn-sm">
						Back to Contacts
					</button>
				</a>
				<h3 id="nameHeading">Benjamin</h3>
			</div>
			<div style="float:right;">
				<img class="img-circle" src="../photos/clock.png">
			</div>
			<hr>
		</div>
		<!-- chat template -->
		<div class="container" id="messageChain">
			{{#each messages}}
				<div class="text">
					<h3>{{text}}</h3>
					<p>{{ago}}</p>
					<hr>
				</div>
			{{/each}}
		</div>


		<!-- Text message box -->
		<div>
  			<input id="usermsg" type="text" name="userMessage">
  			<!-- <input type="submit" onclick="addMessage()" value="Send"> -->
			<button id = "userSub" type="button" name="button" class="btn btn-primary">Send</button>
		</div>
		<!--
		<div class="text" id="newText">>
			<h3 id="newMessageText"></h3>
			<p id="newMessageAgo">Just now</p>
			<hr>
		</div>

		<form>
			<label><b>Enter a Message</b></label>
			<input type="text" name="message" id="user_input">
		</form>

		<input type="submit" onclick="showInput();"><br/>
		<label>Your input: </label>
		<p><span id='display'></span></p>
		-->


		<!-- Suggestions -->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h5 style="float:left;">Conversation Starters</h5>
				</div>
			</div>
			<div class="row">
			  <div class="col-sm-4">
			    <div class="card">
			      <div class="card-body">
			        <h5 class="card-title">Special title treatment</h5>
			        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
			        <a href="#" class="btn btn-primary">Go somewhere</a>
			      </div>
			    </div>
			  </div>
			  <div class="col-sm-4">
			    <div class="card">
			      <div class="card-body">
			        <h5 class="card-title">Special title treatment</h5>
			        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
			        <a href="#" class="btn btn-primary">Go somewhere</a>
			      </div>
			    </div>
			  </div>
			  <div class="col-sm-4">
			    <div class="card">
			      <div class="card-body">
			        <h5 class="card-title">Special title treatment</h5>
			        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
			        <a href="#" class="btn btn-primary">Go somewhere</a>
			      </div>
			    </div>
			  </div>
			</div>
		</div>

</body>

</html>
