<html>
<head>
	<title>Your Chat</title>
	<meta charset="utf-8">


	<script src="js/bootstrap.js"></script>
	<script src="js/bootstrap.min.js>"></script>

	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/messageBoard.css">
</head>
<body>
	<div class="container">
		<!-- header -->
		<div class="jumbotron">
			<div style="float:left;">
				<h3 id="nameHeading">Name</h3>
			</div>
			<div style="float:right;">
				<h3 id="lastHeading">Last</h3>
			</div>
			<hr>
		</div>

		<!-- chat template -->
		{{#each messages}}
			<div>
				<img class="img-circle" src="{{imageURL}}">
				<h3><a href="chat.handlebars">{{name}}</h3>
				<p>{{last}}</p>
				<hr>
			</div>
		{{/each}}
	</div>

</body>
</html>
