<html>
<head>
	<title>Delphi Home</title>
	<meta charset="utf-8">
	<meta name="messageBoard" content="width=device-width, initial-scale=1.0">

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/bootstrap.min.js>"></script>
	{{> facebook}}
	<script src="js/facebook.js"></script>

	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/messageBoard.css">
</head>
<body>
	<div class="container">
		<!-- header -->
		<div class="jumbotron">
			<!-- Delhpi Logo and info here -->
			<div align="center">
				<h1> Delphi </h1>
			</div>
		</div>

		<div class="skinnyJumbotron">
			<!-- Facebook Login Here -->
			<div align="center">
				<p class="facebookLogin">
					<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
					</fb:login-button>
				</p>
				<img class="avatar" id="profilePicture" src="http://lorempixel.com/500/500/people">
				<h3 id="username">Username</h3>
			</div>

		</div>

		<div class="skinnyJumbotron">

			<div style="float:left;">
				<h3 id="nameHeading">Contact</h3>
			</div>

			<div style="float:right;">
				<!-- <button type="button" class="btn btn-primary btn-md">New Chat</button> -->
				<img class="img-circle" src="../../photos/clock.png">

			</div>
			<hr>
		</div>
		<!-- chat template -->
		{{#each chats}}
			<div class="container">
				<div style="float:left;">
					<!-- Can't get this link to the chat page working -->
					<div style="float:right;">
						<h3><a href="chat">{{name}}</a></h3>
					</div>
					<div style="float:left">
						<img class="img-circle" src="{{imageURL}}">
					</div>
				</div>
				<div style="float:right;">
					<p ><font color="red">{{last}}</font></p>
				</div>
			</div>
			<hr>
		{{/each}}
	</div>
</body>
</html>
