.skinnyJumbotron {
  padding: 20px;
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: inherit;
  background-color: #eeeeee;
}

.avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}